exclude powa/templates/
recursive-include powa/templates *.html
recursive-include  powa/static/css *
recursive-include  powa/static/img *
recursive-include  powa/static/dist *
include powa/powa.wsgi
include powa-web.conf-dist
