$oil: #333333;
$white: #FFFFFF;
$powa_color: #859145;
$primary-color: $powa_color;
$secondary-color: #F9F9F9;
$body-bg: $oil;
$row-width: 100%;
$header-font-color: $powa_color;
$form-label-font-color: scale-color($powa_color, $lightness: -10%);
$side-nav-link-color: scale-color($white, $lightness: 10%);
$side-nav-divider-color: scale-color($white, $lightness: 10%);
$side-nav-link-bg-hover: scale-color($oil, $lightness: 20%);
$topbar-link-color: $powa_color;
