@import '_settings.scss';
@import '../bower_components/foundation/scss/foundation.scss';
@import '../bower_components/rickshaw/src/css/graph.scss';
@import '../bower_components/rickshaw/src/css/detail.scss';
@import 'powa_rickshaw.scss';
@import '../bower_components/foundation-daterangepicker/daterangepicker.scss';
@import 'powa_backgrid.scss';
@import '../bower_components/backgrid-filter/backgrid-filter.scss';
@import '../bower_components/backgrid-paginator/backgrid-paginator.scss';
@import '../libs/highlight/styles/solarized_dark.scss';
@import 'foundation-icons.scss';

.widget-icon-bar {
@include icon-bar(
  // Set the size of the icons within the icon bar. Default: $icon-bar-icon-size.
  $icon-size: 1rem,
  $image-height: 1rem,
  $padding: 0,
  $disabled: true
);
}

.top-bar-section li.powa-text {
    line-height: $topbar-height;
    color: $white;
    font-size: $topbar-link-font-size;
}

ul.unstyled {
    list-style: none;
}

.alert-box {
    ul {
        list-style: none;
        li {
            color: $white;
        }
    }
}

pre {
    white-space: pre-wrap;

    code {
      background-color: $body-bg;
    }
}

footer {
  color: $white;
}

table {
    margin: 0px;
}

.columns {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.panel {
  &.widget {
    padding: 0.3em 0.8em;
    min-height: 80px;
    margin-bottom: 1rem;
    .content-widget {
        title {
        color: $powa-color;
        }
    }

  }
  .row.graph {
      padding-left: 2.2rem;
      padding-right: 1.5rem;
      .columns, .row {
          padding-left: 0;
          padding-right: 0;
          margin: 0;
      }
      .row {
          margin-bottom: 0.8em;
      }
      .graph_container {
          display: inline-block;
          margin: 0 0;
          height: 300px;
      }
      .graph_right_axis {
          right: 0;
      }

      .y_axis {
        overflow: visible;
      }
  }
}

.tooltip {
    max-width: none;
    pre {
        font-size: 0.7em;
    }
}

.heading select {
    text-transform: none;
}

.daterangepicker select {
    height: inherit;
    padding: 0;
}
#daterangepicker {
  background-color: $crumb-bg;
  border-radius: $crumb-radius;
  border: $crumb-border-size $crumb-border-style $crumb-border-color;
  padding: 0 $crumb-side-padding;
}

#daterangepicker input {
  display: inline-block;
  width: auto;
  margin: 0;
  border: none;
  box-shadow: none;
  text-align: right;
}

.graph_visualisation {
    display: none
}

.graph_timeline {
    display: none;
    height: 15px;
}

.breadcrumbs > * {
    font-size: 1rem;
    line-height: 1rem;
    text-transform: none;
}
.breadcrumbs > *.current a {
    cursor: pointer;
}

.breadcrumbs > *.current a:hover {
    text-decoration: underline;
}

.breadcrumbs button {
    margin-top: -1em;
    margin-bottom: -1em;
}

.breadcrumbs .button-link {
    padding-left: 0;
}

.button-link {
    &,
    &:hover,
    &:focus {
        background-color: transparent;
    }

    color: $anchor-font-color;

    &:hover,
    &:focus {
        color: $anchor-font-color-hover;
    }
}
.dropdown.button-link {
    &::after {
        border-color: $anchor-font-color transparent transparent transparent;
    }
    &:hover::after {
        border-color: $anchor-font-color-hover transparent transparent transparent;
    }
}

.backgrid-filter.form-search {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.has-tip {
    &, &:hover {
        border-bottom: 0;
    }
}

pre.sql {
    max-height: 400px;
    overflow: auto;
}

.ok {
    color: #10f010;
}

.ko {
    color: #f01010;
}

/*
 * ugly hack to make tab containing widget works, as the corresponding div get
 * overloaded with incompatible style attributes.
 */
.tabs-content {
    .content {
        margin-top: -10000%;
        display: none;
        height: 1px;
    }
    .content.active {
        //margin-left: inherit;
        margin-top: 0;
        display: block;
        height: auto;
    }
}

/* ugly hack also needed for the annotations to display properly */
.annotation .content {
    height: auto;
    margin-top: 0;
}
.annotation.active {
    height: 6px;
    margin-top: 0;
}
