.rickshaw_graph {
  .x_tick.plain {
    bottom: 0em;
  }
  .title {
      opacity: 1;
  }
}

.rickshaw_legend {
    display: inline-block;
    position: relative;
    .swatch {
        width: 10px;
        height: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    ul {
      display: inline-block;
    }

    .line {
        line-height: 10%;
        padding-right: 4px;
        list-style: outside none none;
        float: left;
        margin-left: 1.375rem;
        display: inline-block;

        .swatch {
            display: inline-block;
            margin-right: 3px;
            border-radius: 2px;
        }

        &.disabled {
            opacity: 0.4;
        }

    }

    .label {
        margin: 0;
        white-space: nowrap;
        display: inline;
        font-size: inherit;
        background-color: transparent;
        color: inherit;
        font-weight: normal;
        line-height: normal;
        padding: 0px;
        text-shadow: none;
        cursor: pointer;
    }
  .action {
    margin-right: 0.2em;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

