@import '_settings.scss';
@import '../bower_components/foundation/scss/foundation.scss';
@import '../bower_components/rickshaw/src/css/graph.scss';
@import '../bower_components/rickshaw/src/css/detail.scss';
@import 'powa_rickshaw.scss';
@import '../bower_components/foundation-daterangepicker/daterangepicker.scss';
@import 'powa_backgrid.scss';
@import '../bower_components/backgrid-filter/backgrid-filter.scss';
@import '../bower_components/backgrid-paginator/backgrid-paginator.scss';
@import '../libs/highlight/styles/solarized_dark.scss';
@import 'foundation-icons.scss';

.widget-icon-bar {
@include icon-bar(
  // Set the size of the icons within the icon bar. Default: $icon-bar-icon-size.
  $icon-size: 1rem,
  $image-height: 1rem,
  $padding: 0,
  $disabled: true
);
}

ul.unstyled {
    list-style: none;
}

.alert-box {
    ul {
        list-style: none;
        li {
            color: $white;
        }
    }
}

pre {
    white-space: pre-wrap;

    code {
      background-color: $body-bg;
    }
}

footer {
  color: $white;
}


.panel {
  &.widget {
    margin: 8px;
    padding: 1em;
    min-height: 200px;
    .content-widget {
        title {
        color: $powa-color;
        }
    }

  }
  .row.graph {
      padding-left: 3rem;
      padding-right: 1.5rem;
      .columns, .row {
          padding-left: 0;
          padding-right: 0;
          margin: 0;
      }
      .row {
          margin-bottom: 0.8em;
      }
      .graph_container {
          display: inline-block;
          margin: 0 0;
          height: 300px;
      }
      .graph_right_axis {
          right: 0;
      }

      .y_axis {
        overflow: visible;
      }
  }
}

.tooltip {
    max-width: none;
    pre {
        font-size: 0.7em;
    }
}

.heading select {
    text-transform: none;
}

.daterangepicker select {
    height: inherit;
    padding: 0;
}

#daterangepicker input {
  display: inline-block;
  width: auto;
}

.graph_visualisation {
    display: none
}

.breadcrumbs > *.current a {
    cursor: pointer;
}

.breadcrumbs > *.current a:hover {
    text-decoration: underline;
}

.breadcrumbs button {
    margin-top: -1em;
    margin-bottom: -1em;
}

.backgrid-filter.form-search {
    margin-left: 0;
    margin-top: 0;
}

.has-tip {
    &, &:hover {
        border-bottom: 0;
    }
}

pre.sql {
    max-height: 400px;
    overflow: auto;
}
