{% extends "../xhr.html" %}
{% block content %}

<v-row>
  <v-col>
    {% if (collector is None) %}
    <v-alert type="error" role="alert">
      Not enough permission to check for collectors!
    </v-alert>
    <v-row>
      <v-col cols="12"><b>Background worker status:</b> <span class="text--disabled">∅</span></v-col>
    </v-row>
    <v-row>
      <v-col cols="12"><b>Remote Collector status:</b> <span class="text--disabled">∅</span></v-col>
    </v-row>
    {% elif (len(collector) == 0) %}
    <v-alert type="error" role="alert">
      No PoWA collector daemon is running!
    </v-alert>
    <v-row>
      <v-col cols="12"><b>Background worker status:</b> <span class="red--text">✗</span></v-col>
    </v-row>
    <v-row>
      <v-col cols="12"><b>Remote Collector status:</b> <span class="red--text">✗</span></v-col>
    </v-row>
    {% else %}
      {% for c in collector %}
      <v-row>
        {% if (c['start']) %}
        <v-col cols="3"><b>{{c['powa_kind']}}:</b> <span class="green--text">✓</span></v-col>
        <v-col cols="3"><b>Connected as:</b> {{c['usename']}}</v-col>
        <v-col cols="3"><b>Connected from:</b> {{c['client_addr']}}</v-col>
        <v-col cols="3"><b>Connected since:</b> {{c['start']}}</v-col>
        {% else %}
        <v-col cols="12"><b>{{c['powa_kind']}}:</b> <span class="red--text">✗</span></v-col>
        {% end %}
      </v-row>
      {% end %}
    {% end %}
  </v-col>
</v-row>
{% end %}
