<h4 class="title graph-title"> <%=title%>
  <i class="fi-info" id="<%=cid%>"></i>
</h4>
<div class="row graph">
    <div class="graph_left_axis columns large-1 small-1"></div>
    <div class="columns large-10 small-10">
        <div class="row">
        <div class="graph_container"></div>
        </div>
        <div class="graph_timeline"></div>
        <div class="row">
        <div class="graph_preview"></div>
        </div>
    </div>
    <div class="graph_right_axis columns large-1 small-1"></div>
</div>
<div class="row">
<div class="graph_legend">
</div>
</div>
