<h4> <%=title%> </h4>
<div class="wizard">
    <div class="configuration">
        <a class="launcher button radius">
            Optimize this database !
        </a>
    </div>
    <div class="summary">
    <div>
    <label class="progress_label" ><%= stage %> </label>
    <div class="progress [small-# large-#]">
        <span class="meter" style="width: [<%= progress %>]%"></span>
    </div>
    </div>
    <div class="unoptimizablegrid">
    </div>
    <div class="indexesgrid">
    </div>
    <div class="indexescheckserrorgrid">
    </div>
    <div class="indexeschecksgrid">
    </div>
</div>
