{% extends "../xhr.html" %}
{% block content %}
<v-row>
  <v-col cols="12">
    <pre class="sql"><code>{{ stats['func_name'] }}</code></pre>
  </v-col>
</v-row>
<v-row>
  <v-col cols="4" align="center">
    <b># of execution:</b> {{ stats['calls'] }}
  </v-col>
  <v-col cols="4" align="center">
    <b>Total time runtime:</b>
    <span class="duration">{{ stats['total_time'] }}</span>
  </v-col>
  <v-col cols="4" align="center">
    <b>Self time runtime:</b>
    <span class="duration">{{ stats['self_time'] }}</span>
  </v-col>
</v-row>
{% if (stats['last_refresh'] is not None) %}
Source code (refreshed at <b>{{ stats['last_refresh'] }}</b>):
<v-row>
  <v-col cols="12">
    <pre class="sql"><code>{{ stats['prosrc'] }}</code></pre>
  </v-col>
</v-row>
{% else %}
Source code not available, please refresh the catalog.
{% end %}
{% end %}
