<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ static_url('img/favicon/favicon.ico') }}">
    <link rel="shortcut icon" href="{{static_url('img/favicon/favicon.ico') }}" type="image/x-icon" />
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ static_url('img/favicon/mstile-144x144.png') }}">
    {% block header %} {% end %}
    <style>
      #mask {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #EFEFEF;
        font-family: "Roboto", sans-serif;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="mask">
        <div>
          <div style="display: flex; align-items: center; justify-content: center; color: #859145;">
            <img src="{{ static_url('img/favicon/favicon-32x32.png')}}"/>&nbsp;<b>PoWA</b>
          </div>
          <br>
          <noscript>
            Javascript is required to display this page.
          </noscript>
          <script type="text/javascript">
            if (Boolean(JSON.parse(localStorage.getItem("dark_theme")))) {
              document.getElementById('mask').style.background = "#333333";
              document.getElementById('mask').style.color = "#ffffff";
            }
         </script>
          <span id="waiter">Loading…</span>
        </div>
      </div>
    </div>
    {% block data %} {% end %}
    <script type="text/handler">
    {% raw to_json(handler) %}
    </script>
    <script type="text/messages">
    {% raw to_json(dict(flashed_messages().items())) %}
    </script>
    {% if current_user %}
    <script type="text/messages">
    {% raw to_json(dict(sanitycheck_messages().items())) %}
    </script>
    {% end %}
    {% if current_user %}
<script type="text/breadcrumb">
  {% set last = len(handler.breadcrumb) - 1 %}
  {%
    raw to_json([{
      "text": item.title,
      "href": reverse_url_with_params(item.url_name, url_args=item.url_params.values()),
      "disabled": i == last,
    } for i, item in enumerate(reversed(handler.breadcrumb))] + [{
      "text": item.children_title,
      "children": [{
        "url": reverse_url_with_params(child.url_name, url_args=child.url_params.values()),
        "title": child.title
      } for child in item.children] if item.children and i == last else None
    } for i, item in enumerate(reversed(handler.breadcrumb)) if i == last and item.children])
  %}
</script>
    {% end %}
    {% if handler.application.settings['debug'] %}
      <script>
        function showLoadError() {
          alert("You're runing the dev version. Please make sure ViteJS server is running.");
        }
      </script>
      <script type="module" src="http://localhost:5173/powa/static/js/main.js" onerror="showLoadError()"></script>
    {% else %}
      {% raw inject_assets("powa/static/js/main.js") %}
    {% end %}
  </body>
</html>
