{% for cat, messages in flashed_messages().items() %}
    <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
      <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% end %}
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% end %}

{% if current_user %}
  {% for cat, messages in sanitycheck_messages().items() %}
    <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% end %}
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% end %}
{% end %}
