@use "highlight";

pre.sql {
  max-height: 400px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.05);
  white-space: pre-wrap;
  code {
    display: block;
    background-color: initial !important;
    font-size: 90%;
    overflow: initial !important;
  }
}

.v-data-table.superdense > .v-data-table__wrapper > table {
  tbody,
  thead,
  tfoot {
    th,
    td {
      padding: 0 0.3rem;
    }
  }
}

.v-data-table {
  td {
    white-space: nowrap;
  }
}

td {
  &:not(.query) {
    width: 1%;
  }
  &.query {
    overflow: hidden;
    max-width: 0;
    pre {
      overflow: hidden;
      text-overflow: ellipsis !important;
      white-space: nowrap;
      margin-bottom: 0;
      background-color: initial !important;
      code {
        display: initial;
      }
    }
  }
}

.v-icon {
    color: inherit !important;
}

.v-icon.v-icon::after {
    font-size: 1.5em;
    transform: none;
}

.v-application{
  background: var(--v-mainbg-base);
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.313rem;
}

h3 {
  font-size: 1.688rem;
}

h4 {
  font-size: 1.4375rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: revert;
}

.text-small {
  font-size: 90%;
}

.v-tooltip__content.sql {
  line-height: 1.3;
  font-size: 0.8rem;
  opacity: 1;
  background: var(--v-tooltipbg-base);
  color: inherit;
  pre {
    background-color: initial;
  }
}

.v-data-table-header th {
  vertical-align: top;
}

.event:hover .marker {
  fill: var(--v-eventmarkerfill-base);
}

.theme--light {
  @include highlight.light;
}

.theme--dark {
  @include highlight.dark;
}
